In [ ]:
string_a="{}".format(10)
print(string_a)
print(type(string_a))

In [ ]:
format_a = "{}만 원".format(5000)
format_b = "파이썬 열공하여 첫 연봉 {}만 원 만들기".format(5000)
format_c = "{} {} {}".format(3000, 4000, 5000)
format_d = "{} {} {}".format(1, "문자열", True)

print(format_a, format_b, format_c, format_d)

In [ ]:
a="{:d}".format(52)
b="{:5d}".format(52)
c="{:05d}".format(52)
d="{:05d}".format(-52)
print(a,"\n",b,"\n",c,"\n",d)
print(a)
print(b)
print(c)
print(d)

In [ ]:
f="{:+d}".format(-52)
print(f)

In [ ]:
h="{:+5d}".format(52)
i="{:+5d}".format(-52)
j="{:=+5d}".format(52)
k="{:=+5d}".format(-52)
l="{:+05d}".format(52)
m="{:+05d}".format(-52)
n="{:=+05d}".format(52)
o="{:=+05d}".format(-52)


print(h); print(i); print(j); print(k); print(l); print(m); print(n); print(o)

#+52에 앞에 0으로 채우려면 어떻게 하지?
#0 말고 다른 숫자 넣으면 칸으로 인식하는데. 1로 채울수는 없나?

In [ ]:
a="{}".format('asdasd')
print(a)
a.upper()
print(a)
a.lower()
print(a)

In [ ]:
print("TrainA10".isidentifier())

In [ ]:
"{:5d}".format(42)

In [ ]:
print()
str_a=input("문자를 입력> ")
print(str_a[1:6])
print(str_a[-3:])

In [ ]:
a="abcde"
a.upper()

In [ ]:
a="abcde"
a.upper()
print(a)
print(a.upper())
a.upper()


#왜 첫째 줄 a.upper()가 출력이 안되지?

In [ ]:
a="10 20 30 40 50".split(" ")
print(a)

In [ ]:
input_str="입력된 숫자는 {}와 {}입니다."
data=input("두 수 입력")
input_a=data[0]
input_b=data[2]
print(input_str.format(input_a, input_b))

In [ ]:
msg=input("숫자 입력 a,b ex) 123123,3232")
t=msg.find(',')
a=float(msg[:t]); b=float(msg[t+1:])

print("a+b :", a+b)
print("a-b :", a-b)
print("a*b :", a*b)
print("a/b :", a/b)
print("a/b 소수점 두자리까지 :", "{:.2f}".format(a/b))

In [ ]:
import datetime
now=datetime.datetime.now()
print(now)
if now.hour<12:
    print("현재 시각 {}시, 오전".format(now.hour))
else:
    print("현재 시각 {}시, 오후".format(now.hour))

In [ ]:
import datetime
now=datetime.datetime.now()

if 3<= now.month <=5:
    print("{}월, 봄이다.".format(now.month))
if 6<= now.month <=8:
    print("{}월, 여름이다.".format(now.month))
if 9<= now.month <=11:
    print("{}월, 가을이다.".format(now.month))
else:
    print("{}월, 겨울이다.".format(now.month))

In [ ]:
a="        Hello python programing     "
print(a.upper())
print(a.lower())
print("-{}-".format(a))
print("-{}-".format(a.strip()))
print("-{}-".format(a).lstrip())
print("-{}-".format(a).rstrip())
print("-{}-".format(a.strip()).isalnum())

c=a.split()
print(c[0]+c[1]+c[2])

b="{}".format(a.strip())
print(b)

while b.isalnum()==False:
    t=b.find(' ')
    #print(t)
    b=b[:t]+b[t+1:]
    #print(b)
print(b)
print("{}".format(b.strip()).isalnum())

In [ ]:
msg=input("두 수를 입력: ")
a=msg.split()
a[0]==a[1]

In [ ]:
msg=input("두 수를 입력: ")
a=msg.split()
x=float(a[0]); y=float(a[1])
if x<y:
    print(y-x)
    if x!=0 and y!=0:
        print(x%y)
else:
    print(x-y)
    if x!=0 and y!=0:
        print(y%x)

In [ ]:
import datetime as dt
now=dt.datetime.now()
print(now.year,"년")
print(now.month,"월")
print(now.day,"일")
print(now.hour,"시")
print(now.minute,"분")
print(now.second,"초")

In [ ]:
v=float(input("점수 입력, 100점 만점"))
if v >90:
    print("A")
elif v>80:
    print("B")
elif v>70:
    print("C")
elif v>60:
    print("D")
else:
    print("F")

In [ ]:
msg=input("숫자 연산 숫자 입력")
a=msg.split()
if a[1]=='+':
    print(float(a[0])+float(a[2]))
elif a[1]=='-':
    print(float(a[0])-float(a[2]))
elif a[1]=='*':
    print(float(a[0])*float(a[2]))

else :
    print("기호 오류")   
#그냥 if로 쓰면 마지막 if문에 대한 else만 인식해서 *가 아닌 기호은 모두 else 적용시킨다

In [ ]:
msg=input("띄어쓰기 하고 아무거나 입력")

a=msg.split()
print(a[-1])
del a[-1]
print(a[2])
b=a+input("추가 데이터 입력").split()
print(b)
a.clear()

In [ ]:
a=[1,2,1,2]
while 2 in a:
    a.remove(2)
a

In [ ]:
list=[12312,213,53,3242,3,423,4,23,2]
for i in list:
    print(i)

In [ ]:
a=[1,23,5,2,3,2]
a.insert(2,[3,1,2,3])
print(a)
for i in a:
    print(i)
    print(type(i))

In [ ]:
msg=input("입력")
a=msg.split()
tot=0
for i in a:
    if i.isnumeric():
        tot += int(i)
print(tot)

In [ ]:
msg=input("숫자 입력")
a=int(msg)
for i in range(1,10):
    print("{}*{}={}".format(a,i,a*i))

In [ ]:
for i in range(1,10,2):
    print(i)