In [2]:
string_a="{}".format(10)
print(string_a)
print(type(string_a))

10
<class 'str'>

In [4]:
format_a = "{}만 원".format(5000)
format_b = "파이썬 열공하여 첫 연봉 {}만 원 만들기".format(5000)
format_c = "{} {} {}".format(3000, 4000, 5000)
format_d = "{} {} {}".format(1, "문자열", True)

print(format_a, format_b, format_c, format_d)

5000만 원 파이썬 열공하여 첫 연봉 5000만 원 만들기 3000 4000 5000 1 문자열 True

In [10]:
a="{:d}".format(52)
b="{:5d}".format(52)
c="{:05d}".format(52)
d="{:05d}".format(-52)
print(a,"\n",b,"\n",c,"\n",d)
print(a)
print(b)
print(c)
print(d)

52
    52
 00052
 -0052
52
   52
00052
-0052

In [17]:
f="{:+d}".format(-52)
print(f)

-52

In [26]:
h="{:+5d}".format(52)
i="{:+5d}".format(-52)
j="{:=+5d}".format(52)
k="{:=+5d}".format(-52)
l="{:+05d}".format(52)
m="{:+05d}".format(-52)
n="{:=+05d}".format(52)
o="{:=+05d}".format(-52)


print(h); print(i); print(j); print(k); print(l); print(m); print(n); print(o)

#+52에 앞에 0으로 채우려면 어떻게 하지?
#0 말고 다른 숫자 넣으면 칸으로 인식하는데. 1로 채울수는 없나?

  +52
  -52
+  52
-  52
+0052
-0052
+0052
-0052